/* pequenos resets + style do body */
body {
  font-family: "Gamja Flower", Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* esqueci de usar :root e var */
a,
a:visited,
a:active {
  text-decoration: none;
  color: #f2f7f2;
}
/*  */
/* HEADER */
/*  */
a:hover {
  color: #e4572e;
  transition: 0.2s;
}

header {
  height: 160px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #011228;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
}

nav a {
  font-size: 2rem;
  padding: 20px;
  height: 20px;
  border-radius: 4px;
}
/*  */
/* CONTEUDO */
/*  */
.img-principal {
  background-image: url(".././imgs/evento.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #f2f7f2;
  font-size: 5.5rem;
}

.sobre {
  color: #011228;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}
.container-sobre {
  max-width: 800px;
}
.sobre h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.sobre p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.btn-primario {
  background: #e4572e;
  color: #f2f7f2;
  padding: 15px 30px;
  border-radius: 4px;
}
.btn-primario:hover {
  background: #bf3916;
  color: #011228;
}

/*  */
/* FOOTER E OUTROS*/
/*  */
.cta-fixo {
  position: fixed;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  right: 2rem;
  bottom: 2rem;
}

.linha {
  content: "";
  width: 1000px;
  height: 2px;
  background-color: #f2f7f2;
  margin: 30px;
}
footer {
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011228;
  color: #f2f7f2;
  font-size: 1.5rem;
}
.parceiros img {
  margin: 10px;
  size: 120px;
}

.redes-sociais {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
